@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Mulish', sans-serif;
}
.navbar {
  background-color: #fff !important;
}
.navbar-brand{
  font-size: 1.9rem !important;
  color: #565387 !important;
}
.navbar a{
  font-size: 1.3rem;
  text-transform: capitalize;
}
.menu_active{
  font-weight: bold;
  border-bottom: 1px solid #565387;
}
.navbar a:hover{
  color:#34989b !important;
}

.brand-name{
  font-weight: bolder;
  color:brown;
}
.img-hover-zoom--slowmo img { 
  transform-origin: 50% 65%;
  transition: transform 0.8s, filter 3s ease-in-out;
   animation-name: example;
  animation-duration: 2s;
}
 @keyframes example {
  0% {
    min-height: 50%;
  min-width: 90%;
  height:auto;
  width: auto;
  position: absolute;
  top: -100%; 
  left: -100%; 
  margin: auto;
  }
  /* 25%{
    min-height: 50%;
  min-width: 90%;
  height:auto;
  width: auto;
  position: absolute;
  left:30%; top:0%;
  margin: auto;
  } */
  50%{
    min-height: 50%;
  min-width: 90%;
  height:auto;
  width: auto;
  position: absolute;
  left:50%; top:0%;
  margin: auto;
  }
   75%{
    min-height: 50%;
  min-width: 90%;
  height:auto;
  width: auto;
  position: absolute;
  left:70%; top:0%;
  margin: auto;
  } 
  /* 85%{
    min-height: 50%;
  min-width: 90%;
  height:auto;
  width: auto;
  position: absolute;
  left:80%; top:0%;
  margin: auto;
  }
  95%{
    min-height: 50%;
  min-width: 90%;
  height:auto;
  width: auto;
  position: absolute;
  left:95%; top:0%;
  margin: auto;
  } */

  100%{
    width: 100%;
    height: 100%;
    margin-bottom: 100%;

  }
  
} 


  


/* The Transformation */
.img-hover-zoom--slowmo:hover img {
  transform: scale(1.08);
}



.txt:hover{
  width: 100%;
  transition: width 5s ;
  
  text-decoration: underline;
} 

#header .btn-get-started{
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 10px 30px;
  border-radius: 50px;
  transition: 0.5s;
  color: #3498db;
  border: 2px solid #3498db;
  text-decoration: none;
}


#header .btn-get-started:hover{
  background: #3498db;
  color: #fff;
}

.header-img{
  text-align:right;
}

#header-animated{
  animation: up-down 2s ease-in-out infinite alternate-reverse both ;
}

@-webkit-keyframes up-down{
  0%{
    transform: translateY(10px);
  }
  100%{
    transform: translateY(-10px);
  }
}

@keyframes up-down {
  0%{
    transform: translateY(10px);
  }
  100%{
    transform: translateY();
  }
  
}

@media(max-width:991px){
  .navbar-brand{
    font-size: 1.5rem !important;
  }
}